<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EstoqueLoja">

        <activity android:name=".ui.DashboardActivity" />
        <activity android:name=".ui.MovimentoActivity" />
        <activity android:name=".ui.ProdutoFormActivity" />
        <activity android:name=".ui.ProdutosActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ProdutoExtratoActivity" />
        <activity android:name=".ui.TopVendidosActivity" />
        <activity android:name=".ui.VendaRapidaActivity" />
        <activity android:name=".ui.HistoricoDiaActivity" />
        <activity android:name=".ui.VendasActivity" />
        <activity android:name=".ui.VendaDetalheActivity" />
        <activity android:name=".ui.CategoriasActivity" />
    </application>

</manifest>